---
layout: home
title: "<span style='font-size: 1.2em;'>Unraveling Gender Stereotypes Across Movie Industries</span>"
subtitle: "Are our preconceived ideas on gender inequality true?"
cover-img:
  - "/assets/img/home.jpg"
---
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  border: none;
  background-color: white;
  font-size: 30px;
  color: #383838;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #eee;
}
  
.btn.Introduction {
  font-size: 18px;
  font-family: 'Radian', serif;
}
.btn.Part1 {
font-size: 18px;
font-family: 'Radian', serif;
}
.btn.Part2 {
  font-size: 18px;
  font-family: 'Lora', serif;
}
.btn.Part3 {
  font-size: 18px;
  font-family: 'Lora', serif;
}
.btn.Part4 {
  font-size: 18px;
  font-family: 'Lora', serif;
}
.btn.Conclusion {
  font-size: 18px;
  font-family: 'Lora', serif;
}
.btn.Ethical {
font-size: 18px;
font-family: 'Lora', serif;
}

</style>
</head>

{% include head.html %}

<hr>
<p><b>Table of contents</b></p>
<hr>

<div class="btn-container">
  <a href="#First_Point_Header" class="btn Introduction"><b> Introduction</b></a>
</div>

<div class="btn-container">
  <a href="#Part_1" class="btn Part1"><b>Part 1: Quantifying gender inequalities</b></a>
</div>

<div class="btn-container">
  <a href="#Part_2" class="btn Part2"><b>Part 2: Gender roles in movies</b></a>
</div>

<div class="btn-container">
  <a href="#Part_3" class="btn Part3"><b>Part 3: Public perception of gendered movies</b></a>
</div>

<div class="btn-container">
  <a href="#Part_4" class="btn Part4"><b>Part 4: Inequalities around the world</b></a>
</div>

<div class="btn-container">
  <a href="#Conclusion" class="btn Conclusion"><b>Conclusion</b></a>
</div>

<div class="btn-container">
  <a href="#Ethical" class="btn Ethical"><b>Ethical Risk Assessment</b></a>
</div>
<hr>

<body id="page-top" class="index">

  <h2 id="First_Point_Header">Introduction</h2>
  {% include introduction.html %}

  <h2 id="Part_1">Part 1: Quantifying gender inequalities</h2>
  {% include part1.html %}
  
  <h2 id="Part_2">Part 2: Gender roles in movies</h2>
  {% include part2.html %}

  <h2 id="Part_3">Part 3: Public perception of gendered movies</h2>
  {% include part3.html %}

  <h2 id="Part_4">Part 4: Inequalities around the world</h2>
  {% include part4.html %}

  <h2 id="Conclusion">Conclusion</h2>
  {% include conclusion.html %}

  <h2 id="Ethical">Ethical Risk Assessment</h2>
  {% include ethical.html %}

</body>

<!-- Quizz part -->

<body onload="NextQuestion(1)">
  <main>
      <!-- creating a modal for when quiz ends -->
      <div class="modal-container" id="score-modal">

          <div class="modal-content-container">

              <h1>Congratulations, Quiz Completed.</h1>

              <div class="grade-details">
                  <p>Attempts : 10</p>
                  <p>Wrong Answers : <span id="wrong-answers"></span></p>
                  <p>Right Answers : <span id="right-answers"></span></p>
                  <p>Grade : <span id="grade-percentage"></span>%</p>
                  <p ><span id="remarks"></span></p>
              </div>

              <div class="modal-button-container">
                  <button onclick="closeScoreModal()">Continue</button>
              </div>

          </div>
      </div>
<!-- end of modal of quiz details-->

      <div class="game-quiz-container">

          <div class="game-details-container">
              <h1>Score : <span id="player-score"></span> / 5</h1>
              <h1> Question : <span id="question-number"></span> / 5</h1>
          </div>

          <div class="game-question-container">
              <h1 id="display-question"></h1>
          </div>

          <div class="game-options-container">

             <div class="modal-container" id="option-modal">

                  <div class="modal-content-container">
                       <h1>Please Pick An Option</h1>

                       <div class="modal-button-container">
                          <button onclick="closeOptionModal()">Continue</button>
                      </div>

                  </div>

             </div>

              <span>
                  <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                  <label for="option-one" class="option" id="option-one-label"></label>
              </span>


              <span>
                  <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                  <label for="option-two" class="option" id="option-two-label"></label>
              </span>


          </div>

          <div class="next-button-container">
              <button onclick="handleNextQuestion()">Next Question</button>
          </div>

      </div>
  </main>
  <script src="index.js"></script>
</body>

