<p>So, what did we find in our analysis?  First we showed that there is a quantitative difference in the way actors 
    and actresses are treated on screen. We also showed that the role distribution is gendered, meaning some character 
    tropes are more feminine and others masculine. Then we looked at how the public and the Oscar Academy perceived 
    those different types of movies. Finally we focused our attention on finding the differences between diverse cultural 
    backgrounds that shape the representation of women. The results were not as expected and we learned that European 
    movies tend to have less actresses on screen. We learned that we have to be careful with our preconceived biases !
</p>
