<section>
Using the tool called the “Digital Ethics Canvas” to guide us, we assess the ethical risks with 6 “ethical lenses” specific to the digital domain: beneficence, non-maleficence, privacy, fairness, sustainability and empowerment. 
The goal of our project is to gain insight on gender in the movie industry and is therefore beneficial to our society if it helps realizing the extent of the gender inequality. 
The dataset or our conclusion cannot be used in harmful ways because it only is an analysis task, no decision will be based on our results. 
The data does not contain private data on anyone because the information on movies and actors is public, moreover we do statistical analyses so we do not talk about specific people. 
Some biases affect our data and our analysis because of the way the data was collected, we cannot rule out the fact that maybe some non-occidental countries are less well represented. 
Moreover, the choice of the topic in the first place is biased because we did not take into account other types of discrimination like race.
<section>