<section>
    Using the tool called the “Digital Ethics Canvas” to guide us, we assessed the ethical risks with 6 “ethical lenses” specific to the 
    digital domain: beneficence, non-maleficence, privacy, fairness, sustainability and empowerment. The goal of our project is to gain 
    insight on gender dynamics in the movie industry and is therefore beneficial to our society if it helps realizing the extent of gender 
    inequality. The dataset or our findings may not be used in any detrimental way, as this is an analytical task only, and no decisions 
    will be taken on the basis of our results.The data does not contain any private information about anyone, as information about films and
    actors is public. What's more, we carry out statistical analyses, so we don't talk about specific individuals. Certain biases affect our 
    data and analysis due to the way in which the data was collected, and we cannot exclude the fact that some non-Western countries may be 
    less well represented. Moreover, the choice of the topic in the first place is biased because we didn't take into account other types of 
    discrimination such as race.
<section>