<section>
  <p>On a daily basis, we are confronted with outdated beliefs on the supposedly predestined roles of women in our society. 
    Beyond these stereotypes, women are also confronted with specific beauty standards, such as being thin, having long 
    blond hair, being young or having smooth skin. Notably, these beauty standards are reflected in the movie industry, 
    with famous actresses such as Marilyn Monroe, Brigitte Bardot, Grace Kelly, and more contemporary figures like Margot 
    Robbie, embodying them.
  </p>

  <img src="assets/img/Stereotypes.png" alt="Marilyn Monroe, Brigitte Bardot, Grace Kelly, Margot Robbie">

  <p>An interesting question to ask is whether stereotypes about women's roles also manifest in the movie industry, 
    similar to how beauty standards do. What types of characters do women portray, and how often do they occupy main 
    roles compared to men?</p>

  <p>Additionally, diverse cultural backgrounds in various countries can shape the representation of women differently, 
    and we can for example compare Hollywood, Bollywood, and European cinema. One might anticipate, for instance, 
    that Hollywood places a strong emphasis on masculinity in its blockbuster productions. European films may lean 
    towards more artistic and intellectual narratives, potentially fostering greater gender equality. Meanwhile, 
    Bollywood's focus on family-centric themes could impact the roles and portrayal of actresses in the industry.
  </p>

  <p>In this analysis, we want to determine whether and to what extent stereotypes persist in this industry. 
    How are women represented in movies ? What type of characters do they interpret ? Can the representation of 
    women have an impact on a movie's success ? </p>
</section>

<h2>Dataset used</h2>
  <p>For this analysis, we used mainly the <a href="http://www.cs.cmu.edu/~ark/personas/">CMU Movie Summary Corpus</a>, 
    which contains data about 42'306 movies and about their characters. Besides, we used the supplement of this dataset 
    consisting of the movie summaries parsed using the <a href="https://stanfordnlp.github.io/CoreNLP/pipeline.html">Stanford CoreNLP pipeline</a>.</p>

    <p>We also used three additional datasets to complete the analysis: 
    <a href="https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset">The Movies Dataset</a>, which contains information 
    on a movies's cast in order to extract the main character and its associated gender. <a href="https://datasets.imdbws.com">IMDb ratings</a>, 
    which is an online database of information about movies, TV series and more, where users can rate the movies they watch on a scale of 1 to 10. We used 
    it mainly for IMDb's average rating and the number of votes per movie. <a href="https://www.kaggle.com/datasets/unanimad/the-oscar-award">The Oscar Award Dataset</a>, 
    which lists the movies that have been nominated and rewarded by the Academy Awards.</p>

<p><i>Note: most graphs are interactive, allowing you to hover over them, zoom in or out and explore further details.</i></p>
