<p>Now that we have understood the differences in women's representation in the movie industry itself, we are interested in the consequences 
they have on the public! It seems that blockbusters often feature men as their main characters. When examining the 10 movies with the highest box-office 
revenue of all time on the Wikipedia page  [List of highest-grossing films](https://en.wikipedia.org/wiki/List_of_highest-grossing_films), we see that 
none of these movies showcase a female character as the sole main character, in contrast to several movies where a male character takes on the role of the sole main character.</p>

<img src="assets/img/Top10Movies.jpg" alt="Top 10 Movies">



<h4>Linear Regression  AverageRating ~ PercentageofFemale </h4>

    <table border="1">
        <tr>
            <th></th>
            <th>Coef</th>
            <th>P-value</th>
        </tr>
        <tr>
            <th>Intercept</th>
            <td>6.2102</td>
            <td>0.000</td>
        </tr>
        <tr>
            <th>PercentageofFemale</th>
            <td>-0.0019</td>
            <td>0.000</td>
        </tr>
    </table>

