<body>

  <p>Now that we have analyzed the general inequalities that women face in the movie industry and the impact of gender on a movie's success, we will explore whether the cultural background of a country can alter this impact, since stereotypes about women vary from culture to culture. 
    To do so, we will examine how gender influences movies across three geographical areas—USA, India, and Europe—each representing significant movie industries: Hollywood, Bollywood and European movies. 
    But are our preconceived ideas true when it comes to the presence of women in the plot ? That’s what we will try to figure out!</p>
    
  <p>Our aim is to analyze the percentage of women in films in our different regions of interest: USA, India and Europe. To do so, we can study the following map, which represents the percentage of women appearing in films around the world.</p> 
  
  <iframe src="assets/plots/map_visualization.html" width="900" height="550" frameborder="0"></iframe>

  <iframe src="assets/plots/box_plot_tukey.html" width="800" height="625" frameborder="0"></iframe>



</body>
